body {
	font-size: medium;
	font-family: serif;
	line-height: 1.2;
}
table.lines, table.lines td {
	border: gray solid 1px;
	border-collapse: collapse;
}
table.nolines, table.nolines td {
	border: black none 0px;
	border-collapse: collapse;
}
table.columns td {
	max-width: 500px;
	min-width: 250px;
}
td {
	padding: 3px 16px 3px 16px;
	vertical-align: top;
}
h1 {
	display: inline;
	font-size: xx-large;
}
b {
	color: darkgreen;
	font-weight: bold;
}
h1, .hi {
	font-weight: bold;
	color: darkblue;
}
img {
	margin: 1px;
	vertical-align: middle;
}
